version: "3.3"
services:
  database:
    image: postgres
    environment:
      - POSTGRES_USER=root
      - POSTGRES_PASSWORD=password
      - POSTGRES_DB=database
    ports:
      - "5432:5432"
  redis:
    image: redis
    volumes:
      - ./redis_save/config/:/usr/local/etc/redis/
    ports:
      - "6379:6379"
