version: "3.3"
services:
  database:
    image: postgres
    environment:
      - POSTGRES_USER=root
      - POSTGRES_PASSWORD=password
      - POSTGRES_DB=database
    ports:
      - "5432:5432"
  redis:
    build:
      context: ./
      dockerfile: Dockerfile-redis
    volumes:
      - ./redis_save/config/:/usr/local/etc/redis/
      - ./redis_save/:/data
    ports:
      - "6379:6379"
        # command:
        #   - "redis-server /usr/local/etc/redis/redis.conf"
